/*
 * Style ceep
 */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #E8E8E8;
}

.cabecalho {
	background-color: #0082c7;
}

.container {
	padding: 0 10%;
}

.mural {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.mural--linhas {
	flex-direction: column;
}

.cartao {
	position: relative;
	display: inline-block;
	width: 200px;
	background-color: #ebef40;
	margin: 16px;
	padding: 16px;
	flex-basis: 200px;
	flex-grow: 1;
	justify-content: space-around;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cartao--fontePequena {
	font-size: 1em;
	width: 15em;
	flex-basis: 15em;
}
.cartao--fonteMedia {
	font-size: 1.5em;
	width: 10em;
	flex-basis: 10em;
}
.cartao--fonteGrande {
	font-size: 2em;
	width: 8em;
	flex-basis: 8em;
}

.mural--linhas .cartao {
	display: block;
	flex-basis: auto;
	width: auto;
}

#mudaLayout {
	display: none;
}

@media (min-width: 560px){
	#mudaLayout {
		display: inline-block;
		-webkit-transition: all .5s ease-in-out;
		   -moz-transition: all .5s ease-in-out;
		    -ms-transition: all .5s ease-in-out;
		     -o-transition: all .5s ease-in-out;
		        transition: all .5s ease-in-out;
	}
}