/*
 * Style ceep
 */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #E8E8E8;
}

.cabecalho {
	background-color: #0082c7;
}

.container {
	padding: 0 10%;
}

.mural {
	font-size: 1.2rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.mural--linhas {
	flex-direction: column;
}

@media (min-width: 610px) {
	.mural {
		align-itens: flex-start;
	}
}

@media (min-width: 900px) {
	.mural {
		align-itens: center;
		font-size: 1.3rem;
	}
}
.cartao {
	position: relative;
	display: inline-block;
	width: 200px;
	background-color: #ebef40;
	margin: 16px;
	padding: 16px;
	flex-basis: 200px;
	flex-grow: 1;
	justify-content: space-around;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cartao .opcoesDoCartao-opcao {
	opacity: 0;
	-webkit-transition: opacity .2s ease;
	   -moz-transition: opacity .2s ease;
	    -ms-transition: opacity .2s ease;
	     -o-transition: opacity .2s ease;
	        transition: opacity .2s ease;
}

.cartao:hover .opcoesDoCartao-opcao,
.cartao:focus .opcoesDoCartao-opcao,
.cartao .opcoesDoCartao-opcao:focus, .opcoesDoCartao-opcao,
.cartao .opcoesDoCartao-opcao:focus {
	opacity: 1;
}

/*.cartao:hover {
	outline: none;
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}*/

@media (min-width: 560px) {

	.cartao--fontePequena {
		font-size: 1em;
		width: 15em;
		flex-basis: 15em;
	}
	.cartao--fonteMedia {
		font-size: 1.5em;
		width: 10em;
		flex-basis: 10em;
	}
	.cartao--fonteGrande {
		font-size: 2em;
		width: 8em;
		flex-basis: 8em;
	}
}

.mural--linhas .cartao {
	display: block;
	flex-basis: auto;
	width: auto;
}

#mudaLayout {
	display: none;
}

@media (min-width: 560px){
	#mudaLayout {
		display: inline-block;
		-webkit-transition: all .5s ease-in-out;
		   -moz-transition: all .5s ease-in-out;
		    -ms-transition: all .5s ease-in-out;
		     -o-transition: all .5s ease-in-out;
		        transition: all .5s ease-in-out;
	}
}
